Repository AliceLR/megazeux, pull requests merged in 2022-08, with the labels that each got.

#350 Update unix .desktop files and install the icon to the correct place.
  arch/install.inc
  arch/unix/Makefile.in
  arch/unix/megazeux.desktop
  arch/unix/mzxrun.desktop
  config.sh
Labels: bug, Introduced in 2.82X

#351 Force disable dummy software renderer for all custom code platforms.
  config.sh
Labels: bug, Introduced in GIT

#141 initial Dreamcast port
  .gitignore
  Makefile
  arch/LICENSE.3rd
  arch/dreamcast/CONFIG.DC
  arch/dreamcast/Makefile.in
  arch/dreamcast/audio.c
  arch/dreamcast/event.c
  arch/dreamcast/pad.config
  arch/dreamcast/platform.c
  arch/dreamcast/render.c
  arch/dreamcast/render_fb.c
  arch/dreamcast/thread.h
  config.sh
  contrib/libxmp/src/common.h
  docs/platform_matrix.html
  scripts/buildscripts/mzx-build.sh
  scripts/buildscripts/mzx-scripts/platforms/dreamcast.sh
  src/Makefile.in
  src/configure.c
  src/graphics.c
  src/io/vio_posix.h
  src/platform.h
  src/render_layer.cpp
  src/renderers.h
  src/util.h
  src/window.c
Labels: enhancement, Platform: Dreamcast

#201 [WIP] MS-DOS port
  .gitignore
  Makefile
  arch/djgpp/CONFIG.DJGPP
  arch/djgpp/Makefile.in
  arch/djgpp/audio.c
  arch/djgpp/event.c
  arch/djgpp/interrupt.S
  arch/djgpp/platform.c
  arch/djgpp/platform_djgpp.h
  arch/djgpp/render_ega.c
  arch/djgpp/render_svga.c
  arch/djgpp/thread.h
  config.sh
  src/Makefile.in
  src/configure.c
  src/graphics.c
  src/io/fsafeopen.c
  src/io/path.h
  src/io/vfs.h
  src/main.c
  src/platform.h
  src/render_layer.cpp
  src/renderers.h
  src/window.c
Labels: enhancement, Platform: DOS
