Repository AliceLR/megazeux, pull requests merged in 2024-12, with the labels that each got.

#505 android: Update to SDL 2.30.9, Android 14; fix Android 11+ support
  arch/android/Makefile.deps
  arch/android/project/app/build.gradle
  arch/android/project/app/src/main/AndroidManifest.xml
  arch/android/project/app/src/main/java/net/digitalmzx/megazeux/MainActivity.java
  arch/android/project/app/src/main/java/org/libsdl/app/HIDDeviceManager.java
  arch/android/project/app/src/main/java/org/libsdl/app/SDL.java
  arch/android/project/app/src/main/java/org/libsdl/app/SDLActivity.java
  arch/android/project/app/src/main/java/org/libsdl/app/SDLControllerManager.java
  arch/android/project/app/src/main/res/values/styles.xml
  arch/android/project/build.gradle
  arch/android/project/gradle/wrapper/gradle-wrapper.jar
  arch/android/project/gradle/wrapper/gradle-wrapper.properties
  arch/android/project/gradlew
  arch/android/project/gradlew.bat
Labels: bug, enhancement, Introduced in 2.92X, Platform: Android

#506 android: Support 16K page sizes.
  arch/android/Makefile.deps
  arch/android/Makefile.in
  arch/android/SDL2-page-sizes.patch
  arch/android/libogg-Android.mk
  arch/android/libvorbis-Android.mk
Labels: enhancement, Platform: Android

#508 Fix Android for 4.3 and 4.4, add Android fixes to changelog.
  arch/android/Makefile.in
  docs/changelog.txt
  docs/platform_matrix.html
Labels: bug, Introduced in 2.92X, Platform: Android
